.jumbotron {
  border-radius: 10px;
  text-align: center;
  background-color: transparent;
  padding:0;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-image {
    justify-content: center;
    .image-wrapper {
      max-width: 200px;
      h2 {
        font-weight: 500;
        font-size: 1.5rem;
        margin-top: 20px;
        text-align: center;
      }
    }
  }

  .image-wrapper {
    max-width: 200px;
  }
}

.login-modal {
  margin-top: 100px;

  .modal-header {
    h5 {
      width: 100%;
      text-align: center;
      font-size: 2rem;
    }
  }

  .button-login-github {
    background-color: #444;
  }

  .button-login {
    display: flex;
    justify-content: center;
    align-items: center;

    .anchor-login {
      color: #fff;
      text-decoration: none;
    }

    .fa {
      font-size: 3rem;
    }
    p {
      margin-bottom: 0;
      margin-left: 20px;
      font-size: 1.2rem;
    }
  }

  .modal-body {
    .button-login-link {
      &:hover {
        text-decoration: none;
        border: none;
      }
    }
  }
}
