.App {
  text-align: center;
}

.wrapper {
  padding-top: 80px;
}

.flex-end {
  justify-content: flex-end;
}

.mt-20 {
  margin-top: 20px;
}

.fixed-true {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.flex {
  display: flex
}

.space-between {
  justify-content: space-between;
}

.hide {
  display: none;
}