.loader-app {
  position: fixed;
  z-index: 2000;
  height: 99999px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #24292e;

  img {
    position: relative;
    top: 250px;
    left: 50%;
    margin-left: -80px;
    padding: 8px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
}

