.search-container {
  padding-top: 80px;
}

.find-header {
  border: none;
  color: #202020;
  font-size: 23px;
  font-weight: normal;
  padding-bottom: 0;

  .find-search {
    color: #333;
    font-weight: bold;
  }
}